# Recap - SQL Basics

For this recap, we have an extra `data` folder.  

We need to download the `jukebox.sqlite` database and place it in this `data` folder.  

The `jukebox.sqlite` file is available at this URL:  
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/jukebox.sqlite`

Let's have a look at our directory structure

In [ ]:
!tree

ðŸ‘‰ Open `data/jukebox.sqlite` in **DBeaver** and have a look at the table names & columns.

---

###  Database Schema

Here is a **simplified** version of the schema:

<img src="https://wagon-public-datasets.s3.amazonaws.com/01-Python/03-SQL-Basics/jukebox_schema.png" width=900>

---
## 1. All Artists

Complete the code below to fetch a list of all the artist names from the database.

Fetch only the **artist names**, not all the columns!

In [ ]:
import sqlite3

db_path = 'data/jukebox.sqlite'
conn = sqlite3.connect(db_path)

c = conn.cursor()

query = """
    TODO
"""


c.execute(query)
rows = c.fetchall()
rows

---
## 2. Short Tracks

Let's **count** the number of tracks in the database that last **less than 2 minutes**.

The goal is to get an integer out, _not a tuple_.

**Hint** - *Remember that 1 minute is 60000 milliseconds*

In [ ]:
query = """
    TODO
"""

c.execute(query)

# TODO: fetch & print the result

---

## 3. First Ten Albums

Let's get the first ten albums of the Jukebox DB, sorted alphabetically.

In [ ]:
query = """
    TODO
"""

c.execute(query)
rows = c.fetchall()
rows

---
## 4. Tracks with a keyword


Fetch track & album information for tracks which contain a given keyword (case insensitive).

In [ ]:
keyword = "Love"

query = """
    TODO
"""

c.execute(query, (f"%{keyword}%",)) # <- Will replace "?" in the query with %keyword%
rows = c.fetchall()
rows

---
## 5. Top 5 artists

Finally, let's use what we've learned to do something a bit more advanced. In this assignment, we define a function that takes a string argument, `genre_name`. You need to write a SQL query that finds the top five artists in that genre with the most tracks.

Take your time with this one and make sure to use DBeaver to build your query line by line.

In [ ]:
def top_five_artists(genre_name):
    # TODO: return a list of tuples with the top five artists with the most tracks in a given genre.
    # The tuples should contain 2 elements: the artist name and their track count, e.g. ('Vengaboys', 243)

In [ ]:
top_five_artists('Rock')